<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>If-Unless Attribute of Thymeleaf</title>
</head>
<body>
<table border="1">
    <thead>
        <tr>
            <th>Sl.No.</th>
            <th>User</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user,userStat : ${users}">
            <td th:text="${userStat.count}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.gender}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <a th:href="@{/update}" th:if="${user.role == 'ADMIN'}">Update</a>
                <a th:href="@{/delete}" th:if="${user.role == 'ADMIN'}">Delete</a>
                <a th:href="@{/view}" th:unless="${user.role == 'ADMIN'}">View</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>